# === STM32CubeIDE (Eclipse) project metadata — KEEP in Git! ===
# !НЕ игнорировать эти файлы!
#!.project
#!.cproject
.settings/
#!*.launch
#!*.ioc

# === Build artifacts ===
Debug/
Release/
build/
out/
*.elf
*.bin
*.hex
*.map
*.o
*.d
*.lst

# === CubeMX backups ===
*.ioc.bak
*.ioc-backup
*.ioc~*

# === Logs / temp ===
*.log
*.tmp
*.swo
*.swp

# === OS junk ===
.DS_Store
Thumbs.db
